<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title Momoha
        link(rel='stylesheet', type='text/css', href='../style/style.css')
        link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Kosugi|Noto+Sans+KR&display=swap")
        link(rel='apple-touch-icon' sizes='57x57' href='../favicon/apple-icon-57x57.png')
        link(rel='apple-touch-icon' sizes='60x60' href='../favicon/apple-icon-60x60.png')
        link(rel='apple-touch-icon' sizes='72x72' href='../favicon/apple-icon-72x72.png')
        link(rel='apple-touch-icon' sizes='76x76' href='../favicon/apple-icon-76x76.png')
        link(rel='apple-touch-icon' sizes='114x114' href='../favicon/apple-icon-114x114.png')
        link(rel='apple-touch-icon' sizes='120x120' href='../favicon/apple-icon-120x120.png')
        link(rel='apple-touch-icon' sizes='144x144' href='../favicon/apple-icon-144x144.png')
        link(rel='apple-touch-icon' sizes='152x152' href='../favicon/apple-icon-152x152.png')
        link(rel='apple-touch-icon' sizes='180x180' href='../favicon/apple-icon-180x180.png')
        link(rel='icon' type='image/png' sizes='192x192' href='../favicon/android-icon-192x192.png')
        link(rel='icon' type='image/png' sizes='32x32' href='../favicon/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='96x96' href='../favicon/favicon-96x96.png')
        link(rel='icon' type='image/png' sizes='16x16' href='../favicon/favicon-16x16.png')
        link(rel='manifest' href='../favicon/manifest.json')
        meta(name='msapplication-TileColor' content='#ffffff')
        meta(name='msapplication-TileImage' content='../favicon/ms-icon-144x144.png')
        meta(name='theme-color' content='#ffffff')
    body(data-animation="ripple", oncontextmenu="return false" ondragstart="return false" onselectstart="return false" onload="loading()")
        #loading
            #loadingCircle
        #cursor
        #circle
        #wrapper(draggable="true")
            #cont
                #mainPage.pg01
                    #contents.leftSide
                        #start
                            div.subText
                                | Moimyun Morado Hagetzy,
                                | Project for Untitled emotion
                            button(onclick="start()") click for Swim
                        #pics
                            div.emotionPic
                                img(src="../images/emotion04.jpg")
                                img(src="../images/emotion05.jpg")
                                img(src="../images/emotion07.jpg")
                    #contents.rightSide
                        #title.glitching(data-text="MOMOHA") MOMOHA
                        .subTitle ももは。<!--モモバ。-->
                #mainPage.pg02
                    #contents.leftSide exhibition Location
                    #contents.rightSide
                        #chatWrap
                            #chatForm
                                ul#inlist
                                div#dock
                                    input#valin(type="text" onkeydown="if(event.keyCode==13){get_list()}" autocomplete="off" spellcheck="false" placeholder="Spread an opinion")
                                    button#submit(onclick="get_list()") Send
                #mainPage.pg03
                    #contents.leftSide 3-1
                    #contents.rightSide 3-2
                #mainPage.pg04
                    #contents.leftSide Contact
                    #contents.leftSide Special Thanks to
        #background.widthLines
            div
                div
                    div
                        div
                        div
                    div
                        div
                        div
                div
                    div
                        div
                        div
                    div
                        div
                        div
            div
                div
                    div
                        div
                        div
                    div
                        div
                        div
                div
                    div
                        div
                        div
                    div
                        div
                        div
        #background.heightLines
                div
                    div
                        div
                        div
                    div
                        div
                        div
                div
                    div
                        div
                        div
                    div
                        div
                        div
    script.
        document.cookie = 'same-site-cookie=foo; SameSite=Lax';
        //loading
        function loading(){
            document.getElementById("loading").style.display = "none";
            document.getElementById('wrapper').style.display = "block";
            document.getElementById('wrapper').style.transitionDuration = "0";
        }
        rippleEffect();
        //mousePointer Start
        const dot = document.getElementById("cursor")
        const circle = document.getElementById("circle")
        //
        const speed = 8;
        let endX = 0;
        let endY = 0;
        let _x = 0;
        let _y = 0;
        //
        document.onmousemove = (event)=> {
        endX = event.pageX;
        endY = event.pageY-window.scrollY;
        dot.style.top = endY - 4 + "px";
        dot.style.left = endX - 6 + "px";
        }
        function animateCircle() {
        requestAnimationFrame(animateCircle);
        _x += (endX - _x) / speed;
        _y += (endY - _y) / speed;
        circle.style.top = _y - 32 + "px"
        circle.style.left = _x - 32 + "px"
        }
        animateCircle();
        document.onmousedown = (event) => {
            const dot = document.getElementById("cursor")
            cursor.style.transform="scale(0.7) translate(-435%, -435%)"
        }
        document.onmouseup = (event) => {
            const dot = document.getElementById("cursor")
            cursor.style.transform="scale(1) translate(-300%, -300%)"
        }
        //mousePointer End

        function start() {
            const start = document.getElementById('start');
            const title = document.getElementById('title');
            const wrapper = document.getElementById('wrapper');
            const subTitle = document.querySelector('.subTitle');
            const pics = document.getElementById('pics');
            title.style.transform="rotate(90deg) translate(0%, -160%)";
            title.style.color="#7effb8";
            title.style.right="0%"
            title.style.fontSize="24vh"
            title.style.transitionDuration="2s";
            title.classList.remove("glitching");
            subTitle.style.opacity="1"
            subTitle.style.fontSize="7vh"
            start.style.display="none"
            wrapper.style.overflowX="auto"
            pics.style.opacity="1";
            scroll();
        }

        //scroll start
        function scroll() {
        wrapper.addEventListener('mousewheel', function(e){
            if(e.wheelDelta >= 0){
                e.preventDefault();
                wrapper.scrollBy(-50, 0);
            }else if(e.wheelDelta < 0){
                e.preventDefault();
                wrapper.scrollBy(50, 0);
            }})
        }//scroll end

        function rippleEffect() {
        const wave = document.querySelectorAll('[data-animation="ripple"]');
        [...wave].forEach(wrapper => {
        wrapper.onmousedown = function(e) {
            const x = e.pageX - this.offsetLeft + wrapper.scrollLeft;
            const y = e.pageY - this.offsetTop;
            const w = this.offsetWidth;
            const ripple = document.createElement('span');
            const ripple2 = document.createElement('span');
            const ripple3 = document.createElement('span');

            ripple.className = 'ripple';
            ripple.style.left = x-15 + 'px';
            ripple.style.top  = y-15 + 'px';
            ripple.style.setProperty('--scale', w);

            ripple2.className = 'ripple2';
            ripple2.style.left = x-20 + 'px';
            ripple2.style.top  = y-20 + 'px';
            ripple2.style.setProperty('--scale', w);

            ripple3.className = 'ripple3';
            ripple3.style.left = x-10 + 'px';
            ripple3.style.top  = y-10 + 'px';
            ripple3.style.setProperty('--scale', w);
            
            this.appendChild(ripple);
            this.appendChild(ripple2);
            this.appendChild(ripple3);

            setTimeout(() => {
            ripple.parentNode.removeChild(ripple);
            ripple2.parentNode.removeChild(ripple2);
            ripple3.parentNode.removeChild(ripple3);
            }, 1000);
        }
        })
        }
        //chat function start
        //locate start
        async function fetchDataAsync() {
        const response = await fetch('http://ip-api.com/json');
        const localInfo = await response.json();
        const localPrint = `Visitor from ${localInfo.city}, ${localInfo.regionName}`;
        const localCity = document.getElementById('local')
        localCity.innerHTML = localPrint
        }//locate start

        function get_list(c){
                const input = document.getElementById("valin").value;
                if(input.length == 0){
                    //do nothing
                }else{
                    async function fetchDataAsync() {
                        const inlist = document.getElementById("inlist");
                        const listplus = document.createElement("li");
                        const talkbox = document.createElement("div");
                        const response = await fetch('https://ipapi.co/json');
                        const localInfo = await response.json();
                        const localPrint = `Visitor from ${localInfo.city}, ${localInfo.country_name}`;
                        const localDiv = document.createElement("div");
                        listplus.innerHTML = input;
                        talkbox.setAttribute("id", "talkbox");
                        localDiv.setAttribute("id", "local");
                        document.getElementById("valin").value = "";
                        document.getElementById("inlist").appendChild(talkbox);
                        document.getElementById("talkbox").appendChild(listplus);
                        document.getElementById("talkbox").appendChild(localDiv);
                        localDiv.innerHTML = localPrint
                    }
                    fetchDataAsync();
                }
                inlist.scrollTop = inlist.scrollHeight;
            }//chat function end